h1 {
    text-align: center;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    
}

body {
    background-image: url("Fondo.png") ;
}