.wrapper{ text-align: center;
  text-decoration: underline;
  background-color: white;
  height:100px ;
  display: grid;

}

body {
    margin: 0;
    background-image: url(Images/Fondo.png);
    background-repeat:no-repeat;
    background-position: 0px -80px;
    background-size: 2000px 900px;
    
}

h1 {
    margin: auto;
    text-align: center;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;

      }


ul li{
    display: inline-block;
    display: block;
    width: 550px;
    padding: 10px 13px;
    border: 10px;
    border-color: solid white 1px;
}

ul li a:hover:not(.active) {
background-color: black;
color: red;
border-color: 10px solid white;
}

div {
    margin-left: 25%;
    padding: 1px 16px;
    height: 100px;
    font-size: 20px;
    text-align: center;
    border: 10px;
    border-color: white;
  }

  @media screen and (max-width: 900px) {
    ul {
      width: 100%;
      height: auto;
      position: relative;
      border: 10px;
      color: white;
    }

    ul li a {
        float: left;
        padding: 15px;
        border: 10px;
        color: white;
      }
      
      div {margin-left: 0;}
      
    }

    @media screen and (max-width: 400px) {
        ul li a {
          text-align: center;
          float: none;
          border: 10px;
          color: white;
        }
      }

      li {
        font-size: large;
      }

      li a:hover{
        background-color: red;
      }

  a:visited{
    color: white;
  }


  a:link{
    color: white;
    background-color: transparent;
    text-decoration: none;
    
  }


  .Parrafo1 {
  margin: auto;
  width: 60%;
  border: 3px solid white;
  padding: 10px;
  color: white;
  }

  form{
    text-align: center;
    bottom: auto;
    }

  