.wrapper{ 
    margin: auto;
    text-align: center;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;

}
body{
    background-image: url(Images/Fondo.png);
    background-repeat: no-repeat;
    background-position: 1px 124px;
    background-size: 1900px 1000px;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: black;

        }
li{
    float:left;

            }
li a{
    color: white;
    display: inline-block;
    width: 592px;
    padding: 10px 13px;
    text-decoration: none;
    position: relative;
    text-align: center;
}
ul{
    position: relative;
    right: 7px;;
}
li a:hover{
    background-color: red;
}
.form1{
    font-size: 20px;
    position: relative;
    left: 30px;
    top: 25px;
}
input{
    position: relative;
    left: 120px;
    top: 25px;
    
}
