*{
    box-sizing: border-box;
}
div.texto1{
    padding: 20px;
}
@media screen and (min-width: 400px) {
    div.texto1 {
      font-size: 1vw;
    }
  }
  
  @media screen and (max-width: 600px) {
    div.texto1 {
      font-size: 3vw;
    }
}
body{
    margin:  0;
    background-image: url(Images/Fondo.png);
    background-repeat: no-repeat;
    background-position: 0px -80px;
    background-size: 2000px 1200px;
}
h1 { 
    margin: auto;
    text-align: center;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: black;

 }
li{
    float:left;

            }
li a{
    display: block;
    padding: 10px 13px;
    width: 100px;
    text-align: center;
    color: white;
    text-decoration: none;
}
li a:hover{
    background-color: red;
}
input{
    position: relative;
    top: 70px;
    left: 140px;
}
label{
    position: relative;
    top: 70px;
    left: 40px;
    text-shadow: 2px 2px 5px white;
}
select{
    position: relative;
    top: 70px;
    left: 120px;
}
p.texto1{
    border: 3px solid black;
    color: black;
}
.texto1{
    border: 3px solid b;
    color: black;
    width: 600px;
    position: relative;
    padding: 10px;
    font-size: large;
    left: 15px;
    top: 150px;
    background-color: white;
    
}

